#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #c5d3e0;
  margin-top: 60px;
  background-color: teal;
}

#compteur {
  color: black;
}
